@* @model WEB_253504_Novikov.Domain.Entities.Cart *@
@using WEB_253504_Novikov.UI.Services.CartService
@inject Cart _cart

@{
    var totalCount = _cart?.Count ?? 0;
    var totalCost = _cart?.TotalCost ?? 0.0;
}

<a asp-controller="Cart" asp-action="ViewCart" class="navbar-text ms-auto">
    @totalCost руб
    <i class="fa-solid fa-cart-shopping"></i>
    (@totalCount)
</a>