@model WEB_253504_Novikov.Domain.Models.CatalogModel

@{
    Layout = "_Layout";
    var defaultImage = Url.Content("~/Images/no-image.png");
}

@functions{
    public string GetReturnUrl()
    {
        var request = ViewContext.HttpContext.Request;
        var returnUrl = request.Path + request.QueryString.ToUriComponent();
        return returnUrl;
    }
}
<!-- выбор категории -->
<div class="col-2 border-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                role="button"
                aria-expanded="false">
                @ViewData["currentVehicleType"]
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                        asp-controller="VehicleCatalog"
                        asp-route-vehicleType=@null>¬се</a>
                </li>
                @foreach (var item in Model.CategoriesResponse.Data)
                {
                    <li>
                        <a class="dropdown-item"
                            asp-controller="VehicleCatalog"
                            asp-action="Index"
                            asp-route-vehicleType="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div><!-- выбор категории -->

@* <partial name="~/Views/Shared/_CatalogPartial.cshtml" model="@Model"/> *@
@await Html.PartialAsync("~/Views/Shared/_CatalogPartial.cshtml", Model)

@section Scripts {
    <script src="~/scripts/site.js"></script>
}